<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBJRQcGTegkgqfq7mxFmawayoGb1vp7tu0</string>
	<key>GCM_SENDER_ID</key>
	<string>181107380562</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplicationGrowxNewDesign</string>
	<key>PROJECT_ID</key>
	<string>growxredsign</string>
	<key>STORAGE_BUCKET</key>
	<string>growxredsign.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:181107380562:ios:0a5b1543ec8a0cdb5d6a8b</string>
</dict>
</plist>